.white-pf
{
	background-color: white;
}
.label-profile
{
	padding-left: 20px;
	font-size: 14px;
	font-weight: 400;
	padding-left: 0px;
	padding-right: 0px; 
}
.width5
{
	width: 5%;
}
.width15
{
	width: 15%;
}
.width20
{
	width: 20%;
}
.width30
{
	width: 30%;
}
.width60
{
	width: 60%
}
.width80
{
	width: 80%
}
.width100
{
	width: 100%
}
.padding-lr0
{
	padding-left: 0px;
	padding-right: 0px; 
}
.fontArial
{
	font-family: ArialMT;
}
.colorgray
{
	color: #999999;
}
.labelcontent
{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	padding-left: 0px;
	padding-right: 0px; 
}
.colorcyan
{
	color: #5FA2DD;
}
.paddingtop10
{
	padding-top: 10px;
}
.textbox
{

    border: 1px solid #E4E4E4;
    height: 30px;
    padding-left: 5px;
    width: 89%
}
.textbox2
{

    border: 1px solid #E4E4E4;
    height: 30px;
    padding-left: 5px;
    width: 100%
}
.pad0
{
	padding: 0px;
}
.table-history
{
	border: 1px solid #E4E4E4;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: top;
    padding-top: 4px;
}
.table-his-cont
{
	border: 1px solid #E4E4E4;
    padding: 5px;
}
.text-his
{
	font-weight: 400;
    font-size: 14px;
}
.text-cmt
{
	border: 1px solid #E4E4E4;
    height: 30px;
    padding-left: 5px;
}
.off-resize
{
	resize: none;
}
.np-header
{
	font-size: 12px;
	font-weight: 400;
	padding-left: 10px; 
	padding-top: 15px;
	padding-right: 10px;
	width: 100%
}
.np-icon
{
	float: right;
	height: 27px; 
	width: 27px;
	margin-top: 7px; 
	font-size: 12px;
	border: 0px;
	background-color: #f6f6f6
}
.margin-r7
{
	margin-right: 7px;
}
.margin-t4
{
	margin-top: 4px;
}
.image-avatar-ad
{
	border: 1.5px solid #d0d0d0; margin-top: -26px; margin-left: 18px;
}
.rowcontent
{
	margin-top: -99px; 
	margin-left: 142px;
}
.fontstyle
{
	font-size: 14px !important;
}
#th
{
	background-color: #F8F9FC;
	color: black;
	text-align: center;
}
.text-center
{
	text-align: center;
}
.margin-t35
{
	margin-top: 35px;
}
.hov-btn-ad>button:hover
{
	background-color: #e8e7e7
}
.h-auto
{
	height: auto;
	padding-bottom: 2px;
}
.color-black
{
	color: black;
}
.hov-a-if:hover
{
	background-color: #EFF5FB !important;
}
.nemu-info-pf
{
	height: 30px; 
	border-radius: 0px !important;
	font-size: 14px;
	padding-left: 6px !important; 
	padding-right: 6px !important;
	padding-top: 6px !important;
}
.border-rad0
{
	border-radius: 0px !important;
	border: 0px;
}
.scrollbars
{
	height: 100vh;   
	overflow-y : scroll;
	overflow-x: hidden;
}
.webportal
{
	margin-bottom: 0px;
	font-size: 14px;
	color: #5fade0;
}
.mau3
{
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 0px; 
	color: #5fade0;
	padding-top: 1px;
	width: 100%;
}
.diem
{
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 0px; 
	color: #005AA6; 
	padding-top: 3px; 
	width: 100%
}
.highR
{
	font-size: 13px;
	color: #5fade0; 
	width: 100%
}
.tag-lb
{
	font-size: 13px;
	margin-bottom: 4px;
	font-weight: 350;
	color: #5fade0; 
	width: 100%;
}
.cv-old
{
	font-size: 14px;
	margin-bottom: 4px;
	font-weight: 450;
	margin-top: -5px; 
	width: 100%;
}
.can-name
{
	font-size: 23px; 
	font-weight: 600; 
	width: 100%;
	margin-bottom: 5px;
	margin-top: 2px
}
.tab-collapse
{
	padding-left: 0px;
	padding-right: 0px;
	 padding-top: 7px;
	 padding-bottom: 0px
}
.bor-mar-b0
{
	border: 0px; 
	margin-bottom: 0px
}
.cyan-profile
{
	background-color: #EFF5FB !important;
}
.rad-pad0
{
	border-radius: 0px; 
	padding: 0px;
}
.a-expand
{
	font-size: 17;
	font-weight: 600;
	color: #999999;
	 padding-right: 17px; 
	 padding-top: 8px;
	 padding-left: 10px;
}
.b-blue
{
	background-color: #5fade0 !important;
}
.a-tabcs
{
	float: right; 
	font-size: 23;
	color: white; 
	padding-right: 15px; 
	padding-top: 8px;
}
.ul-nav
{
	padding-top: 10px; 
	padding-left: 10px;
	border: 0px;
}
.tittle-tab
{
	height: 25px;
	border-radius: 0px;
	font-size: 14px;
	padding-left: 6px; 
	padding-right: 6px;
	padding-top: 6px; 
	color: white; 
	font-weight: 450;
}
.mr-pd
{
	padding-left: 0px;
	margin-top: -3px
}
.show-view
{
	font-weight: 400; 
	font-size: 13px;
	margin-bottom: 3px;
}
.textara1
{
	resize: none; 
	width:100%; 
	padding-left: 4px; 
	padding-right: 4px;
	margin-bottom: 9px; 
	border: 1px solid #E4E4E4;
}
.luu-cmt
{
	float: right;border: 0px;height: 30px; width: 70px; color: white;background-color: #5fade0;margin-top: 10px
}
.mar-t-l10
{
	margin-top: 10px; margin-left: 10px;
}
.phu
{
	border: 0.5px solid #ccc; width: 100%;margin-top: 
	     150px;
}
.h10-w-auto
{
	height: 10px; width: auto;
}
.margin-t10
{
	margin-top: 10px;
}
.mar-tam
{
	margin-left: 20px;margin-top: 10px; margin-right: 40px;
}
.star-pos-pro{
	padding-left: 18px;
    margin-left: 18px;
}
.star-pos1-pro
{
	margin-left: 17px;
    min-width: 62px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 10px;
}
.star-icon1{
    font-size: 19px;
    cursor: pointer;
    margin-top: -4px;
}
.fixicon{
    margin-top: 2px;
    margin-left: -4px;
}
.star-pos2
{
	padding-left: 18px;
    margin-left: 177px;
}
.font-weight
{
	font-weight: 400;
}
/*.select2-container {
    width: 203px !important;
}*/
.star-texta
{
    font-size: 10px;
    color: white;
    cursor: pointer;
    margin-top: -3px;
}
.rotate{
  width: auto;
  height: auto;
  padding: 0;
  margin-top:10px;
  margin-right: 15px;
  -webkit-transition: transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
}

.down{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}